<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>Delay Lama Modern</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>local.personal.delaylamamodern</string>
    <key>CFBundleName</key>
    <string>Delay Lama Modern</string>
    <key>CFBundleDisplayName</key>
    <string>Delay Lama Modern</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Personal Recreation: Delay Lama Modern</string>
        <key>description</key>
        <string>Delay Lama Modern</string>
        <key>factoryFunction</key>
        <string>Delay_Lama_ModernAUFactory</string>
        <key>manufacturer</key>
        <string>DLMO</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>DLM1</string>
        <key>version</key>
        <integer>65536</integer>
        <key>sandboxSafe</key>
        <true/>
      </dict>
    </array>
  </dict>
</plist>
